.container{
    background-color: whitesmoke;
    padding: 10px;
    border: 10px solid gray;
    margin: 10px 0 10px 0;    
    
}
.botones{
    margin: 0 43% 0 43%;
}

h2,p{
    text-align: center;
}




